/* reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to bottom, rgb(178, 213, 228), 	rgb(76, 118, 133));
  background-size: auto 415vh;
  height: 100vh;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}


header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu{
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul{
  display: flex;
  justify-content: space-around;
    
  box-shadow: 0px 0px 5px rgb(161, 155, 154);
}

.menu li {
  list-style: none;
  
}

.menu a{
  padding: 10px 5vw;
  display: block;
  transition: background-color .7s, color .7s;
}

.menu a:hover {
  background-color: black;
  color: whitesmoke;  
}

a {
  text-decoration: none;
  color: black;
}


.site-title {
  font-weight: 500;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
}

.site-subtitle {
  font-weight: 300;
  font-size: 1.55em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  height:100vh;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Bentham', serif;
  font-weight: 100;
  font-size: 2.5em;
  margin-bottom: .8em;
}

.sobre p {
  text-indent: 1.5em;
  margin-bottom: 1.5em;
  text-align: justify;
}

.sobre a {
  text-decoration: underline;
}

.sobre a:hover {
  text-decoration: none;
  background-color: whitesmoke;
}

.sobre .avatar {
  text-align: center;
  margin-bottom: 2em;
}

@media (min-width: 600px){
  .sobre .avatar {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
  }
}

.sobre .avatar img {
  height: 250px;
  width: auto;
  border-radius: 50%;
}
.portfolio .grid {
  display: grid;
  gap: 2em;
  }

@media (min-width: 580px) {
  .portfolio .grid {
  grid-template-columns: 250px 250px;
  justify-content: center;
  align-content: center;
  height:calc(100vh - 15em);
  
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
  grid-template-columns: 250px 250px;
  justify-content: center;
  gap: 3em;
  
  }
}

@media (min-width: 1200px) {
  .portfolio .grid {
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 150px;
  width: 250px;
  object-fit: cover;
  object-position: bottom;
  transition: transform 500ms;
  
}

.img-portfolio:hover {
  transform: scale(1.1);
}

.grid.icons {
  height: 25vh;
  align-content: center;
  display: grid;
  column-gap: 2em;
  grid-template-columns: repeat(5, 2.5em);
  justify-content: center;
}

.contato .icons {
  text-align: center;
  
}

.contato a{
  color: black;
  font-size: 3em;
  transition: text-shadow .7s;
}

.contato a:active,
.contato a:hover {
  text-shadow: 0px 0px 5px rgb(80,80,80);
}


footer {
  margin-top: 30px;
  position: relative;
  bottom: 5px;
}

.creditos {
  font-size: .8em;
  text-align: center;
  line-height: 2em;
  
  
}

.creditos a:hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
  line-height: 2em;

}



